{% include 'chapter1-sys-start/templates/junos/dns.j2' %}
{% include 'chapter1-sys-start/templates/junos/interfaces.j2' %}
{% include 'chapter1-sys-start/templates/junos/ntp.j2' %}
{% include 'chapter1-sys-start/templates/junos/routing_options.j2' %}
{% include 'chapter1-sys-start/templates/junos/system.j2' %}