{% include 'salt://chapter1-sys-start/templates/dns.j2' %}
{% include 'salt://chapter1-sys-start/templates/interfaces.j2' %}
{% include 'salt://chapter1-sys-start/templates/ntp.j2' %}
{% include 'salt://chapter1-sys-start/templates/routing_options.j2' %}
{% include 'salt://chapter1-sys-start/templates/system.j2' %}