interfaces {
{% if pillar.interfaces is defined %}
{% for intf in pillar.interfaces %}
{% set lag_intf = False %}
{% set int_device = intf.interface %}
{% if "ae" in int_device %}
{% set lag_intf = True %}
{% endif %}
    {{intf.interface}} {
        description {{intf.description}};
{% if intf.mtu is defined %}
        mtu {{intf.mtu}};
{% endif %}
{%- if lag_intf -%}
            aggregated-ether-options {
                minimum-links {{ intf.min_links }};
                lacp {
                    active;
                }
            }
{% endif %}
{% for unit in intf.unit %}
        unit {{unit.unit_id}} {<=========
{% if unit.ipv4addr is defined %}
            family inet {
{% for ipadd in unit.ipv4addr %}
                address {{ipadd}};
{% endfor %}
            }
{% endif %}
{% if unit.ipv6addr is defined %}
            family inet6 {
{% for ipadd in unit.ipv6addr %}
                address {{ipadd}};
{% endfor %}
            }
{% endif %}
        }

{%- if lag_intf -%}
{%- for member in unit.members -%}
    {{ member }} {
        gigether-options {
            802.3ad {{ intf.interface }};
        }
    }
{% endfor %}
{% endif %}
{% endfor %}===
    }
{% endfor %}
{% endif %}
    lo0 {
        unit 0 {
            family inet {
                address {{pillar.loopbackv4}};
            }
        }
    }
    {{pillar.mgmtint}} {
        unit 0 {
            family inet {
                address {{pillar.mgmtipv4}};
            }
        }
    }
}
