interfaces {
{% if pillar.interfaces is defined %}
{% for intf in pillar.interfaces %}
    {{intf.interface}} {
{% for unit in intf.unit %}
        unit {{unit.unit_id}} {
{% if unit.ipv4addr is defined %}
            family inet {
{% for ipadd in unit.ipv4addr %}
                address {{ipadd}};
{% endfor %}
            }
{% endif %}
{% if unit.ipv6addr is defined %}
            family inet6 {
{% for ipadd in unit.ipv6addr %}
                address {{ipadd}};
{% endfor %}
            }
{% endif %}
        }
{% endfor %}
    }
{% endfor %}
{% endif %}
    lo0 {
        unit 0 {
            family inet {
                address {{pillar.loopbackv4}};
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address {{pillar.mgmtipv4}};
            }
        }
    }
}
