{% set servers = salt.pillar.get("ntp.server") %}
{% set peers = salt.pillar.get("ntp.peers") %}
system {
    ntp {
      {% for server in servers %}
      server {{server}}
      {%- endfor %}
      {% for peer in peers %}
      peer {{peer}}
      {%- endfor %}
    }
}