system {
    ntp {
      {% for server in salt.pillar.get("ntp.server") %}
      server {{server}}
      {%- endfor %}
      {% for peer in salt.pillar.get("ntp.peers") %}
      peer {{peer}}
      {%- endfor %}
    }
}