system {
    host-name {{pillar.devname}};
    root-authentication {
        encrypted-password "$1$nese6//0$/1MPwrY4sdjmwRCj2LiCV0"; ## SECRET-DATA
    }
    login {
    {% for class in pillar.classes %}
        class {{class}} {
            permissions all;
            deny-commands "start shell";
        }
    {% endfor %}
    {% for user_dict in pillar.users %}
    {% for user, user_info in user_dict.items() %}
        user {{user}} {
            uid {{user_info.uid}};
            class {{user_info.class}};
            authentication {
                encrypted-password "{{user_info.password}}"; ## SECRET-DATA
            }
        }
    {% endfor %}
    {% endfor %}
    }
    services {
        ssh;
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}