interfaces {
{% for intf in pillar.interfaces %}
    {{intf.interface}} {
{% for unit in intf.unit %}
        unit {{unit.unit_id}} {
            family inet {
                address {{unit.ipv4addr}};
            }
        }
{% endfor %}
    }
{% endfor %}
    lo0 {
        unit 0 {
            family inet {
                address {{pillar.loopbackv4}};
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address {{pillar.mgmtipv4}};
            }
        }
    }
}