{# TO DO - Create filter to get network id and network mask from cidr#}
{% if pillar.interfaces is defined %}
{% for intf in pillar.interfaces %}
{% if "." in intf %}
  interface {{intf.split(".")[0]}}
    no shut
{% endif %}
interface {{intf}}
  {% if "." in intf %}
  encapsulation dot1Q {{intf.split(".")[1]}}
  {% endif %}
  {% if intf.description %}
  description {{intf.description}}
  {% endif %}
  {% if intf.ipv4addr is defined %}
  ip address {{intf.ipv4addr("/")[0]}} 255.255.255.0
  {% endif %}
  {% if intf.ipv6addr is defined %}
  ipv6 address {{intf.ipv6addr}}
  {% endif %}
  no shut
{% endfor -%}
{% endif %}
interface {{pillar.mgmtint}}
  ip address {{pillar.mgmtipv4.split("/")[0]}} 255.255.255.0
  no shut
int lo0
  ip address {{pillar.loopbackv4.split("/")[0]}} 255.255.255.255
